<p>admin works!</p>

<div class="container">
  <div class="row">
    <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
  </div>
  <div class="row">
    <div class="btn-group btn-group-toggle">
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" (click)="showConfirm()"> confirm
      </label>
      <label class="btn-primary" ngbButtonLabel>
        <input type="checkbox" (click)="showAlert()"> alert
      </label>
    </div>
  </div>
  <div class="row">
    <div *ngIf="(article$ | async) != null"></div>
    <div>{{(article$ | async).name}}</div>
    <div>{{(article$ | async).beschreibung}}</div>
  </div>
</div>





