<div class="container">
  <h3>Bestand Melden</h3>

  <form [formGroup]="meldenForm">
    <div class="form-group">
      <label for="menge">
        Menge:
      </label>
      <input id="menge" type="number" formControlName="menge">
    </div>

    <div class="form-group">
      <label for="originalverpackt">
        Originalverpackt:
      </label>
      <input id="originalverpackt" type="checkbox" formControlName="originalverpackt">
    </div>

    <div class="form-group">
      <label for="kaufdatum">
        Kaufdatum
      </label>
      <input id="kaufdatum" type="text" ngbDatepicker formControlName="kaufdatum"/>
    </div>

    <button class="btn btn-success" type="submit">Bestand melden</button>

  </form>
</div>
